<%- set_meta_tags noindex: true%>
<table class="header-table space">
  <tr>
    <th rowspan="2">
      <% if @prev_customer&.id %>
        <%= link_to "前へ", customer_path(id: @prev_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-success" %>
      <% end %>
    </th>
    <th rowspan="2">
      <% if @next_customer&.id %>
        <%= link_to "次へ", customer_path(id: @next_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-success" %>
      <% end %>
    </th>
  </tr>
</table>


<table width="100%" class="company">
		<col width="25%">
		<col width="25%">
		<col width="25%">
		<col width="25%">
	<tbody>
		<tr>
			<th colspan="4">顧客情報（<%= link_to("編集", edit_customer_path,  target:"_blank") %>）</th>
		</tr>
		<tr>
			<th>会社名</th>
			<td><%= @customer.company %></td>
      <th>メールアドレス</th>
			<td><%= @customer.mail %></td>
		</tr>
		<tr>
      <th>担当者名</th>
			<td><%= @customer.name %></td>
			<th>業種</th>
			<td><%= @customer.industry %></td>
		</tr>
    <tr>
      <th>電話番号</th>
			<td><%= @customer.tel %></td>
			<th>携帯番号</th>
			<td><%= @customer.mobile %></td>
		</tr>
    <tr>
      <th>郵便番号</th>
			<td>〒<%= @customer.postnumber %></td>
			<th>住所</th>
			<td><%= @customer.address %></td>
		</tr>
		<tr>
      <th>URL</th>
			<td><%= @customer.url %></td>
      <th>過去アポ利用履歴</th>
			<td><%= @customer.history %></td>
    </tr>
    <tr>
      <th>取引商品</th>
			<td><%= @customer.item %></td>
      <th>希望オプション</th>
			<td><%= @customer.option %></td>
    </tr>
    <tr>
      <th>ターゲットエリア</th>
			<td><%= @customer.area %></td>
      <th>ターゲット業種</th>
			<td><%= @customer.target %></td>
    </tr>
    <tr>
      <th>料金</th>
      <td><%= @customer.price %></td>
      <th>件数</th>
      <td><%= @customer.number %></td>
		</tr>
    <tr>
      <th>希望開始時期</th>
      <td><%= @customer.start %></td>
      <th>次回営業日</th>
      <td><%= @customer.next %></td>
		</tr>
    <tr>
      <th>備考</th>
      <td colspan="3"><%= @customer.content%></td>
		</tr>
	</tbody>
</table>

<div class="headline">コメント</div>
<% if @customer.calls.any? %>
<table class="company" width="90%">
  <col width="10%">
  <col width="40%">
  <col width="20%">
  <col width="20%">
  <col width="10%">
   <tr>
     <th>ステータス</th>
     <th>コメント</th>
     <th>次回架電日時</th>
     <th>生成日</th>
     <th>編集/削除</th>
   </tr>
    <% @customer.calls.each do |call| %>
    <tr>
      <td><%= call.statu %></td>
      <td><%= call.comment %></td>
      <td><%= call.time %></td>
      <td><%= call.created_at %></td>
      <td><%= link_to '削除',
                      customer_call_path(customer_id: @customer.id, id: call.id),
                      method: :delete,
                      data: { confirm: '本当に削除しますか？'} %></td>
     </tr>
     <% end %>
<% end %>
</table>
<%= form_for ([@customer, @customer.calls.build]) do |f| %>
<table class="company" width="90%">
  <col width="20%">
  <col width="50%">
  <col width="20%">
  <col width="10%">
 　 <tr>
　   <td><%= f.select(:statu, Call.StatuItems) %></td>
     <td><%= f.text_area :comment , size: "20x10"%></td>
     <td><%= f.datetime_field :time %></td>
     <td><%= f.submit '登録' %></td>
   </tr>
</table>
　<% end %>
